<!-- <h1>Interpolation in Angular</h1>
<h1>{{title}}</h1>
<h1>{{2 + 2}}</h1>
<h2>{{x + y}}</h2>
<h3>{{'Gemini'.toUpperCase()}}</h3>
<h4>{{user1.toUpperCase()}}</h4> -->
<!-- <h4>{{data = 30}}</h4>   // give error -->
 <!-- // cannot increment and y-- -->

 <!-- <login></login>
 <app-signup></app-signup>
 <app-profile></app-profile> -->

<!-- 
 <h1> Function call on Button Click</h1>
 <button (click)="onClick()">Click me</button>


 <h1>Define Data Type</h1>
 <button (click)="sum(10, 20)">Sum</button> -->


 <h1>Counter App</h1>
 <div style="text-align: center;">
  <h2>{{count}}</h2>
  <span>
    <button class="btn bg-red" (click)="handleCounter('minus')">Decrement</button>
    <button class="btn bg-green" (click)="handleCounter('reset')">Reset</button>
    <button class="btn bg-blue" (click)="handleCounter('plus')">Increment</button>
  </span>
 </div>

 <app-events></app-events>